# Somnia Network RPC (testnet)
NUXT_PUBLIC_RPC_URL=https://dream-rpc.somnia.network/
NUXT_PUBLIC_CHAIN_ID=50312

# Privy Configuration
NUXT_PUBLIC_PRIVY_APP_ID=

# Smart Contract
NUXT_PUBLIC_CONTRACT_ADDRESS=

# Hardhat deployment
PRIVATE_KEY=
EXPLORER_API_KEY=
